<h1>ALL TODO ENLISTED</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= link_to 'Show', todo_path(todo) %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= button_to 'Delete', todo_path(todo), method: :delete,:onclick=>"return confirm('Are you sure you want to delete this ')" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Todo', new_todo_path %>
</p>